.App {
  text-align: center;
}

.inputs{
  display:flex;
  width:100%;
  justify-content: center;
  margin:20px 0;
}

.content{
  display:flex; 
}

.empty{
  height:600px;
  width:600px;
  background-color:lightcyan;
}
.list{
  display:flex;
  flex-direction: column;
}