* {
  margin: 0;
  padding: 0;
}

.gamelist-div {
  height: 85vh;
  padding: 5vh;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#rating-button {
  padding: 10px;
  font-size: 2rem;
  border-radius: 5px;
  transition: transform 0.3s;
}

#rating-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.links {
  text-decoration: none;
}
