.joke{
    padding:10px;
    border-radius: 5px;
    border:1px solid purple;
    background-color:#ccc;
    margin:50px;
}

.joke__blague{
    font-size:16px;
    font-weight: 800;
    color:purple;
}

.joke__chute{
    font-size:16px;
    font-weight: 800;
    color:darkblue;
}